div {
    height: 200px;
    width: 200px;
    padding: 20px;
    border: 10px solid black;
    margin: 20px;
    background-color: blue;
    text-align: center;
    line-height: 200px;
}

.content-box{
    box-sizing: content-box;
}

.border-box{
    box-sizing:border-box ;
}