.optimized-animation{
    background-color: #3498db;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform,opacity;
    animation: smoothMove 10s infinite linear;
}

@keyframes smoothMove{
    from{
        transform: translate(0,0);
        opacity: 1;
    }
    to{
        transform: translate(100vw,100vh);
        opacity: 0;
    }
}