p{
    color: blue;
    font-size: 40px;
}

.elegante{
    background-color:chartreuse;
    font-weight: bold;
}

#titulo{
    color: green;
    font-size: 50px;
    font-weight: bold;
    background-color: aqua;
    margin: 0 190px;
    border-radius: 5px;
    text-align: center;
}

small{
    color: gray;
}