body{
    font-family: 'Segoe UI', "Arial", sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1,h2,h3{
    color: #333;
    padding-bottom: 10px;
    }

.text-shadow{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
}

.text-glow{
    color: white;
    text-shadow: 0 0 8px rgba(78, 8, 57, 0.8);
    font-size: 18px;
    font-weight: bold;
}

