.animated-box{
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    animation: moveAround 5s infinite alternate;
}

@keyframes moveAround{
    0%{
        top: 0;
        left: 0;
        background-color: #3498db;
    }
    25%{
        top:0 ;
        left: 80%;
        background-color: #9b59b6;
    }
    50%{
        top: 80%;
        left: 80%;
        background-color: #e74c3c;
    }
    75%{
        top: 80%;
        left: 0;
        background-color: #f1c40f;
    }
    100%{
        top: 0;
        left: 80%;
        background-color: #3498db;
    }
}