html,body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.transition-button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: backgound-color 0.3s ease, transform 0.3s ease;
}



.transition-button:hover{
    font-size: 0;
    background-color: #ff0037;
    transform: scale(7.1);
}
.transition-button:hover:after{
    
    content: 'Te Amo Muito Vivian S2';
    font-size: 10px;

}


