body{
    font-family: 'Segoe UI', 'Arial', sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1,h2{
    color: #333;
    margin-bottom: 10px;

}

.left-align{
    text-align: left;
}

.right-align{
    text-align: right;
}

.center-align{
    text-align: center;
}

.spacing{

    /* Aumenta o espaçamento entre as letras em 1.5 pixels, o que
    pode ajudar a melhorar a legibilidade ou criar um estilo
    visual particular. */
    letter-spacing: 5.5px; 

    /* Aumenta o espaçamento entre as palavras em 4 pixels, útil
    para ajustar a densidade visual do texto e melhorar a clareza. */
    word-spacing: 10px;
    line-height: 2;
}

.no-wrap{
    /* Define o espaço em branco para 'nowrap', o que impede que o
    texto dentro do elemento quebre em múltiplas linhas, mantendo todo o
    texto em uma única linha contínua. */
    white-space: nowrap;

    /* Oculta qualquer conteúdo que exceda a largura do elemento,
    evitando que o texto derrame para fora do espaço designado. */
    overflow: hidden;

    /* Adiciona reticências ('...') ao final do texto se ele
    exceder o espaço disponível, indicando visualmente que há mais
    conteúdo que não está sendo exibido. */
    text-overflow: ellipsis;
}
