.container-pai {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-image{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200621/pngtree-abstract-modern-neon-frame-background-image_339537.jpg');
    height: 260px;
    width: 555px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}