input[type="password"]{ /* seleciona um input que contém uma passoword */

    border: 2px solid red;
        
}

input[type="text"]{
    border: 2px solid blue;
}

p[title]:hover{/* seleciona o paragrafo  que contém um title */
    background-color: blueviolet;
    margin-right: 500px;

}

ul li:first-child{ /* seleciona o primeiro item de uma lista */
    font-size: 30px;
    font-weight: bold;
}

ul li:last-child{ /* seleciona o ultimo item de uma lista */
    font-size: 30px;
    color: blue;
}

p::first-letter{/* seleciona a primeira letra de um parágrafo */
    font-size: 200%;
    color: blue;
}

div.texto::after{ /* inseri um texto depois da classe  texto que esta dentro de um div  */
    content: 'Adicionado via CSS';
    color: purple;
    font-size: 20PX;
    font-weight: bold;
}

.texto span::before{ /* inseri um texto antes do span na classe texto  */
    content: 'Texto ';
    color: green;
}