html, body {
  height: 100%;
  margin: 0; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teste:after{
  background-color: black;
  width: 200px;
  height: 100px;
  border: 5px solid blue;
  margin: 20px;
  content: 'Adiconado via css';
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 100px;
}
.box{
    background-color: lightblue;
    width: 200px;
    height: 100px;
    border: 5px solid black;
    text-align: center;
    line-height: 70px;
    
}
